*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}


body{
background:#f7f9fc;
color:#333;
}


/* HEADER */

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
background:white;
box-shadow:0 5px 20px rgba(0,0,0,.1);

}



.logo{
display:flex;
align-items:center;
gap:10px;
}


.logo img{

width:60px;
height:60px;
border-radius:50%;
object-fit:cover;

}



nav a{

text-decoration:none;
margin-left:25px;
color:#333;
font-weight:500;

}


nav .active{

color:#ff7a00;

}



/* HERO */


.hero{

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.5)
),
url("kids.jpg");


height:350px;

background-size:cover;
background-position:center;

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

color:white;
text-align:center;

}



.hero h1{

font-size:45px;

}


.hero p{

font-size:18px;

}



/* PORTAL */


.portal{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px;
padding:70px 10%;

}



.card{

background:white;
padding:40px;
text-align:center;
border-radius:20px;

box-shadow:
0 10px 30px rgba(0,0,0,.1);

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}



.icon{

font-size:50px;

}



.card h2{

margin:20px 0;
color:#1565c0;

}



.card button{

margin-top:25px;

padding:12px 35px;

border:none;

border-radius:30px;

background:#ff7a00;

color:white;

font-size:16px;

cursor:pointer;

}



/* FEATURES */


.features{

padding:50px 10%;
text-align:center;

}



.feature-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:40px;

}



.feature-grid div{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}



.notice{

margin:50px 10%;

padding:30px;

background:#fff3e0;

border-left:6px solid #ff7a00;

border-radius:10px;

}



footer{

background:#1565c0;

color:white;

text-align:center;

padding:20px;

}




@media(max-width:800px){


header{

flex-direction:column;

}


nav{

margin-top:20px;

}


.portal{

grid-template-columns:1fr;

}



.feature-grid{

grid-template-columns:1fr;

}


.hero h1{

font-size:30px;

}

}
