/* =========================================
   KID'S LOVE NURSERY
   PARENTS & TEACHERS PORTAL CSS
========================================= */


/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}



body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:

linear-gradient(
rgba(21,101,192,.7),
rgba(255,122,0,.7)
),

url("../images/school-bg.jpg");


background-size:cover;

background-position:center;

}



/* LOGIN BOX */


.login-box{


width:400px;

background:white;

padding:40px 35px;

border-radius:25px;


box-shadow:

0 15px 40px rgba(0,0,0,.2);


text-align:center;


animation:slide .6s ease;


}



@keyframes slide{


from{

transform:translateY(-40px);

opacity:0;

}


to{

transform:translateY(0);

opacity:1;

}


}





.login-box h1{


font-size:30px;

color:#1565c0;

margin-bottom:30px;

font-weight:700;


}




/* INPUTS */


.login-box input,
.login-box select{


width:100%;

padding:14px 18px;

margin:12px 0;

border:1px solid #ddd;

border-radius:30px;

font-size:15px;

outline:none;

transition:.3s;


}



.login-box input:focus,
.login-box select:focus{


border-color:#ff7a00;

box-shadow:0 0 10px rgba(255,122,0,.3);


}





/* BUTTON */


.login-box button{


width:100%;

padding:14px;

margin-top:20px;


border:none;

border-radius:30px;


background:#ff7a00;


color:white;


font-size:17px;

font-weight:600;


cursor:pointer;


transition:.3s;


}



.login-box button:hover{


background:#1565c0;

transform:translateY(-3px);


}




/* REGISTER LINK */


.login-box p{


margin-top:25px;

color:#666;

font-size:14px;


}



.login-box a{


color:#ff7a00;

font-weight:600;

text-decoration:none;


}



.login-box a:hover{


text-decoration:underline;


}



/* RESPONSIVE */


@media(max-width:500px){


.login-box{

width:90%;

padding:35px 25px;

}



.login-box h1{

font-size:25px;

}


}
