@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}


body{

background:#f5f8ff;

}



header{

background:#1565c0;

color:white;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}



header button{

background:#ff7a00;

color:white;

border:none;

padding:10px 25px;

border-radius:30px;

cursor:pointer;

}





.welcome{

text-align:center;

padding:40px;

}



.welcome h1{

color:#1565c0;

}



.dashboard{

padding:20px 8%;

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}





.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.card h2{

color:#ff7a00;

margin-bottom:20px;

}




input,
select{

width:100%;

padding:12px;

margin:8px 0;

border-radius:20px;

border:1px solid #ddd;

}



.card button{

background:#1565c0;

color:white;

border:none;

padding:12px 25px;

border-radius:30px;

cursor:pointer;

}



@media(max-width:800px){


.dashboard{

grid-template-columns:1fr;

}


}
